@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme+Expanded:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;600;700&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'BioRhyme', 'Noto Serif JP','Noto Sans JP','Noto Serif TC','BioRhyme Expanded', serif, 'Roboto','sans-serif';
  font-weight: 400;
  font-style: normal;
  position: absolute;
  color: #000;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  /*align-items: center;*/
  /* justify-content: center; */
  font-size: 19px;
  color: #fff;
  font-weight: 500;
  height: 100vh;
  max-height: 100vh;
  width:max-content;
  border-right: 1px solid #000;
}
.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}
.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}


.pt p{
  margin: 0;
  }

.thumbnail .keen-slider__slide {
    font-size: 30px;
    margin-top: 10px;
    height: 100px;
  }
.thumbnail .keen-slider__slide {
    cursor: pointer;
  }

/*** force img size in timeline  ***/
.timelineContent span img {
  width:200px;
}

/*** force timeline font (year)  ***/
.buYvqM{
  font-size: 40px !important;
}
@media only screen and (max-width: 900px) {
  .buYvqM{
    font-size: 16px !important;
  }
}

/* react-player video player*/
/* .player-wrapper {
  position: relative;
  padding-top: 56.25% 
} */

/* .scroller {
  scrollbar-color: #0A4C95 #C2D2E4;
  scrollbar-width: thin;
} */

.scrollContent{
  width:100%;
  height:100%;
  /*padding: 17px 16px 17px 17px;*/
  padding-right:25px;
  overflow-y: scroll;
  mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  mask-size: 100% 20000px;
  mask-position: left bottom;
  -webkit-mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
  scrollbar-color: #666 transparent !important;
  /*scrollbar-width: thin !important;*/
}

::-webkit-scrollbar {
  /*width:thin !important;*/
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #666;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  box-shadow:none;
}

/* .scrollContent ::-webkit-scrollbar {
  background-color: transparent;
}
.scrollContent ::-webkit-scrollbar-thumb {
  background-color: #666;
}
.scrollContent ::-webkit-scrollbar-track {
  background-color: transparent;
} */

.scrollContent:hover {
  -webkit-mask-position: left top;
}